{% raw %}
<script id="comments-template" type="x-tmpl-mustache">
{{ #comments }}
<div class="comment">
  <a href="/people/{{ user.username }}" class="comment-avatar">
    <img src="http://gravatar.duoshuo.com/avatar/{{ user.gravatar }}?s=30&d=monsterid">
  </a>
  <div class="comment-header">
    <div class="pull-right gray comment-actions">
      <span class="idea-timeago">{{ timeago }}</span>
      <span class="dot"></span>
      <span class="idea-reply" data-comment-id="{{ comment_id }}" data-username="{{ user.username }}">回复</span>
    </div>
    <a class="comment-username" href="/people/{{ user.username }}">{{ user.username }}</a>
  </div>
  <div class="comment-content markdown-body gray-1">
    {{{ content }}}
  </div>
</div>
{{ /comments }}
</script>
{% endraw %}