{% extends 'layout.html' %}

{% block title %}
{{ title }} - {% parent %}
{% endblock %}

{% block content %}
<div class="single">
<div class="row">
  
  <div class="col col-md-3">
    <div class="list-group">
        <a href="/notifications" class="list-group-item active">回复</a>
    </div>
  </div>
  <div class="col col-md-9">
  <div class="panel panel-default">
      <div class="panel-body">
       {% include 'notification_replies.html' %}
        <!-- list -->
      </div>
    </div>
   
  </div>
  

  </div>
</div>
{% endblock %}

