{% extends 'layout.html' %}

{% block main %}
<section class="welcome page-banner">
      <div class="container">
        
        <h2 class="slogan">{{ title }}</h2>
        <p class="description">{{ slogan }}</p>
      </div>
    </section>

<section class="main single">
  <div class="container">
    <div class="row">
      <div class="col col-md-12" style="font-size:15px;">
      <div class="page-content">
        <p>分享新产品似乎变成了新的潮流，不过我们更关注产品是如何诞生的。</p>
        <p>于是在 iambition，我们提供一个平台分享和交流一切可能造就那些伟大产品的想法。</p>
        <h3>故事</h3>
        <p>
          很多人都怕自己的想法被“偷走”，其中有些想法烂在了他们手里，有些由于没有成熟的规划而走向了错误的方向，因为这种怕被偷走的执念。可是 FaceBook 的 CEO —— Mark Zuckerberg 说过了：“If you'd invented FaceBook you'd invented FaceBook”。如果你能创造 FaceBook 那么 FaceBook 就会是你创造的，如果是被偷走的那个人创造了，只能说明你本就没有这个能力。
        </p>
        <p>
          有人会担心如果 Mark Zuckerberg 没有创建 FaceBook 的话，他会因此碌碌无为？不会，他产生有趣创意的能力是不会被偷走的。
        </p>
        <h3>起源</h3>
        <p>
          我曾经订阅过一份邮件，每周会发送一些点子给我，我确实也亲手实现了其中的一些。然后在前几天我发现 <a href="https://assembly.com/ideas" target="_blank">Assembly</a> 新增了一个 ideas 栏目，这刚好是我几个月前想到的一个点子，我曾经在 <a href="https://insekai.com" target="_blank">里世界</a> 记录过，然后怀着敬意(fake) 我做了个 Copy to China 的版本，也就是你现在看到的网站。
        </p>
        <h3>价值</h3>
        <p>
          那么答案就很明显了，在 iambition 你可以发现创作的灵感，和社区一起探讨一个想法的价值和规划。
        </p>
      </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}