box-shadow(n)
  -webkit-box-shadow n
  -moz-box-shadow n
  box-shadow n

text-height(n)
  height n
  line-height n

border-radius(n)
  -webkit-border-radius n
  -moz-border-radius n
  border-radius n

  